@import 'Widget.scss';

.container {
    @extend %widget;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.8);
}

.heading {
    font-size: 2em !important;
}

.on {
    background: white;
    color: black;
}

.icon {
    font-size: 4em;
}